{% extends 'base.html.twig' %}

{% block title %}Edit Editor{% endblock %}

{% block body %}
    <br/>
    <div class="w-50 m-auto">
        <h1>Edit Editor</h1>

        {{ include('admin/editor/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        <br/>
        <a class="btn btn-dark" href="{{ path('app_admin_editor_index') }}">Retour à la liste</a>
        <br/>
        <br/>
        {{ include('admin/editor/_delete_form.html.twig') }}
        
    </div>
    <br/>
{% endblock %}
